body {
	font-family: "Raleway";
	font-size: 1em;
	background-color: #326395;
	margin: 0;
}

h1 {
	font-weight: 900;
	font-size: 6em;
	color: #FFFFFF;
	margin: 0em 0em 0em 0em;
}
h2 {
	font-size: 1em;
	font-weight: 900;
	color: #FFFFFF;
}

p {
	font-size: .7em;
	font-weight: 500;
	color: #FFFFFF;
	padding-top: 7px;
}

a {
	text-decoration: none;
	padding: 0px 2px 0px 2px;
	color: #ffffff;
}

/* vvvv- Just for the first load. Changes once clicking happens. */

#all_groups {
	background-color: #FFFFFF;
	color: #326395;
	border-radius: 10px;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 66em;
	text-align: center;
	padding-top: 1em;
}

#container {
	margin-left: 2em;
	margin-right: 2em;
}

#source {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 20px;
	width: 100%;
	background-color: #225385;
	margin: 0 0 0 0;
}

.group_button {
	cursor: pointer;
}

@media screen and (max-width: 800px) {
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1em;
	}
}