body {
	font-family: "Roboto";
	margin: 0;
	background-color: #326395;
}

#wrapper {
	margin-left: auto;
	margin-left: auto;
	text-align: center;
}

#container {
	margin-left: 5%;
	margin-right: 5%;
}

#title h1 {
	text-align: left;
	margin: 0 0 0 0;
}

#title {
	margin: 1em 0 0 0;
}

#info_section {
	text-align: left;
	background-color: #326395;
	padding: 0 0 0 0;
}

#to_flip {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.ui-tooltip {
	background-color: #FFFFFF;
	border: none;
	color: #326395;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 1em;
}

.fa-long-arrow-right {
	padding-left: 1em;
}

.fa-long-arrow-left {
	padding-right: 1em;
}

.iz_button:hover {
	color: #AABBDD;
	cursor: pointer;
}

ul {
	list-style-type: none;
	padding: 0 0 0 0;
}

li {
	float: left;
	padding-right: 3em;
}
li {
	display: block;
}

h1 {
	font-weight: 100;
	font-size: 3em;
	color: #FFFFFF;
}

h3 {
	text-align: left;
	font-weight: 100;
	font-size: 2em;
	color: #FFFFFF;
	max-width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

p {
	font-weight: 100;
	font-size: 1em;
	color: #FFFFFF;
	margin: 0 0 0 0;
	background-color: #326395;
	padding: 3% 3% 3% 3%;
}

.team_holder {
	display: none;
}

.fb-share-button {
	margin-top: .8em;
}

.match_titles p {
	background-color: #FFFFFF;
	color: #124375;
	font-weight: 400;
	border-radius: 15px;
}

.top_4 {
	color: #FFFFFF;
	font-weight: 100;
	padding-top: 0;
	padding-bottom: 0;
}

.to_float_L {
	float: left;
}
.to_float_R{
	float: right;
}

#world_cup_1st_flag,
#world_cup_2nd_flag,
#world_cup_3rd_flag,
#world_cup_4th_flag {
	margin-top: 3px;
	padding-left: 6px;
}

.to_900 {
	font-weight: 900;
	color: #FFFFFF;
	visibility: hidden;
}

#world_cup_1st, #world_cup_2nd, #world_cup_3rd, #world_cup_4th {
	color: #FFFFFF;
	font-weight: 100;
}